* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 100px;
  color: cornflowerblue;
  font-family: "Times New Roman", Times, serif;
}
p {
    size: 50px
    padding: 50px;
    color: red;
  background-image: url(https://image.shutterstock.com/image-photo/old-brick-black-color-wall-260nw-1605128917.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.parent-div{
    height: 500px;
    margin: 20px;
    padding: 50px;
    background-color: aqua;
}
.child1{
    height: 400px;
    float:left;
    width: 400px;
    background-color: red;
    padding: 50px;
}
.child2{
    height: 400px;
        width: 400px;
    float: left;
    background-color: green;
    padding: 50px;
}
.child3{
    height: 400px;
    width: 400px;
    float: left;
    background-color: blue;
    padding: 50px;
}